---
permalink: /404.html
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 900px;
    text-align: left;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>
<br>&nbsp;<br>
  <p>Sorry, that link is broken or the page is missing. <br>Please try one of these instead: </p>




<ul>  
  {% for collection in site.collections %}
    {% for post in site[collection.label] %}

    {% unless post.published == false or post.hide == true %}

    <li><a href={{ site.url }}{{ post.url  | relative_url  }}>{{ post.title}}</li>
    {% endunless %}

    {% endfor %}
{% endfor %}

{% for item in site.pages%} {% if item.pods %} {% for pods in item.pods%} 

<li>		<a href="{{pods.link}}">	{{pods.title}} 
				{{pods.description}}		</a></li>
{% endfor %} {% endif %} {% endfor %} 
<ul>




</div>
