/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


body_doc {
  font-weight: 400;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}





/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

.img-normal {
  width: calc(10vw + 40px);
  height: 600px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size:contain;
  float:right
}

// .img-wide {
//   width: calc(40vw + 40px);
//   max-width:600px;
//   height: 600px;
//   background-position: top center;
//   background-repeat: no-repeat;
//   background-size:contain;
//   float:right
// }

.img-wide {
  width: 100%;
  height: 600px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size:contain;
}


.img-header{
width: calc(50vw);
max-width:400px;
padding-top:$spacing-unit/2;
}

.iframe_container{
width:100%;

}

.iframe{
width:100%;
height:320px;
}


/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  list-style-position: inside;
}


ol li {
    padding-bottom: 10px;
}

ul li {
    margin-left:0px;
    padding-bottom: 0px;
}

ul ul li {
    margin-left:30px;
    padding-bottom: 0px;
}




/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}


h1 {
font-size:28px;
line-height:1;
display: inline;
color: $brand-color;
}

homepage_body{
font-size:28px;
line-height:1;
display: inline;
color: $text-color;
}

homepage_body_highlight{
font-size:28px;
line-height:1;
display: inline;
color: $brand-color;

}

homepage_mid{
font-size:24px;
line-height:.8;
display: inline;
color: $text-color;
}

homepage_mid_highlight{
font-size:24px;
line-height:.8;
display: inline;
color: $brand-color;
}



/**
 * Links
 */
a {
  color: $link-color;
  text-decoration: none;

  &:visited {
    color: $visited-color;
  }

  &:hover {
    color: brighten($link-color, 15%);;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: none;
    }
  }
}


.buy-btn {
  background-color: darken($link-color, 30%);
  color: white;
  padding: 7px 10px;
  text-decoration: none;
}

.buy-btn:hover {
  background-color: $link-color;
  text-decoration: none;
}

.buy-btn:visited {
  background-color: darken($visited-color, 30%);
  color: white;
  text-decoration: none;
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}

/* Added 27-10-24 */

/* Lightbox overlay */
.lightbox-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Image styling inside the overlay */
.lightbox-overlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}

/* Close button */
.lightbox-overlay .close-lightbox {
    position: absolute;
    top: 1em;
    right: 1em;
    color: black;
    font-size: 3em;
}


.documentation-image-xwide{
    position: relative;
    width: 140%;
    right: -20%; /* Adjust this value to control how far the image floats over the edge */
    left: -20%; /* Adjust this value to control how far the image floats over the edge */
    
       @media (max-width: 768px) {
        width: 100%;
        float: none;
        margin: 0 0 1.5em 0;
        right: 0;
        left: 0;

    }
}





.documentation-image {
    float: right;
    width: 50%; /* 1/2 of the container on larger screens */
    margin: 0 0 1.5em -5%;
    clear: both;
    position: relative;
    right: -10%; /* Adjust this value to control how far the image floats over the edge */


    img {
        width: 100%; /* Image will scale to the width of the figure */
        border-radius: 4px;
    }

    figcaption {
        text-align: center;
        font-size: 0.7em;
        margin-top: 0.5em;
    }

    /* Mobile */
    @media (max-width: 768px) {
        width: 100%;
        float: none;
        margin: 0 0 1.5em 0;
        right: 0; /* Adjust this value to control how far the image floats over the edge */

    }
}


.floating-book {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(255, 255, 0, 1);
    color: $text-color;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.0);
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    gap: 12px; /* Space between image and text */
    border: 0px solid lighten($text-color, 40%);
    z-index: 999;
    max-width: 320px; /* Prevents stretching */
    
    a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
    }

    picture img {
        width: 50px; /* Adjust book cover size */
        height: auto;
        border-radius: 4px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        flex-shrink: 0; /* Ensures image doesn’t shrink */
    }

    .book-text {
        display: flex;
        padding-left: 8px; 
        flex-direction: column;
        justify-content: center;
        max-width: 220px; /* Ensures text doesn’t overflow */
    }

    span {
        font-size: 16px;
        line-height: 1.4;
        font-weight: 600;
        word-wrap: break-word;
        white-space: normal;
        display: block;
    }

    &:hover {
        background: $brand-color;
        color: white;
        border-color: $brand-color;

        picture img {
            filter: brightness(0.9);
        }
    }
}
