<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-25728206-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-25728206-1');
</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
<!--     <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}"> -->
    <link rel="stylesheet" href="{{ "/css/style-anim.css" | relative_url }}">
        
   {% include header.html %}

  
  <div class="whole_container">

<div class ="fullwidth">
<span class="crossHead">DIY Eurorack Module</span>
</div>

<div class="mainArticle">

<div class="pagesImage">

{% if page.topImg1 %}
<a href="{{page.topImg1}}"><img src={{page.topImg1}}></a>
{% else %}
<img src="{{page.teaser}}">
{% endif %}
{% if page.topImg2 %}
<img src={{page.topImg2}}>
{% endif %}
</div>


<div class="pagesFactBox">

{% if page.side-desc %}
<b>{{page.side-desc}}</b>
{% endif %}

<br>
<br><b>Specifications</b>
<br>Supply: {{page.supply}}
<br>Size: {{page.size}}
<br>Depth: {{page.depth}}
<br>
<br><b>Documents</b>

{% if page.mgrid %}
<br><a href="{{page.mgrid}}">Modular Grid</a>
{% endif %}

{% if page.github %}
<br><a href="{{page.github}}">Github</a>
{% else %}
<br><a href="https://github.com/TomWhitwell">Github (soon)</a>
{% endif %}

{% if page.schematic %}
<br><a href="{{page.schematic}}">Schematic</a>
{% else %}
<br><a href="https://github.com/TomWhitwell">Schematic (soon)</a>
{% endif %}


<br>License: <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC-BY-SA</a>

</div>

{% if page.thonk-url %}
<a href="{{page.thonk-url}}"><div class="pagesBuyButton">Buy now<div class="buttonTextSmall">Full kits from Thonk</div></div></a>
{% endif %}
  
  
  <h1>{{page.title}} <span class="modulename">{{page.module-name}}</span></h1>


  
 <span class="subhead">
   <span class="articleList">
    {{ content}}
 
   </span>
   </span>

   {% include footer.html %}
    
    
    
  </body>
</html>
