<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>

    {%- include header.html -%}
</body>
<body_doc>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body_doc>

<div class="lightbox-overlay" id="lightbox">
    <span class="close-lightbox" onclick="closeLightbox()">&times;</span>
    <img src="" alt="Expanded view" id="lightbox-img">
</div>

<script>
    function openLightbox(imgSrc) {
        document.getElementById("lightbox-img").src = imgSrc;
        document.getElementById("lightbox").style.display = "flex";
    }

    function closeLightbox() {
        document.getElementById("lightbox").style.display = "none";
    }

    // New function to conditionally open lightbox based on screen size
    function conditionalOpenLightbox(imgSrc) {
        if (window.innerWidth > 768) { // Only open lightbox on screens wider than 768px
            openLightbox(imgSrc);
        }
    }
</script>
 {% include yt_embed.html %}

</html>
