--- 
layout: default 
image: "/images/mtm_logo_sq_600.png" 
--- 


<div class="home">
<a href="/workshopsystem">
  <picture>
    <source srcset="images/900_workshopsystem-side_full.webp" type="image/webp">
    <img src="images/900_workshopsystem-side_full.jpg" 
         alt="Music Thing Workshop System Side View" 
         width="900" height="622" 
         loading="lazy" 
         style="width: 100%; height: auto;">
  </picture>
</a>

<br></br>	<p>
		<homepage_mid_highlight>
			{{- site.description | escape -}}
		</homepage_mid>
	</p>

	{%- include module_list.html -%} <br> 
	{%- include expander_list.html -%} <br> 
	{%- include retired_list.html -%} <br> 
	{%- include writing_list.html -%} <br> 

	
</div>
