--- 
layout: default 
image: "/images/mtm_logo_sq_600.png" 
--- 
<div class="floating-book">
  <a href="collateral/WhatWouldSomeoneLikeMeDoWithATinyModularSynth_book.pdf">
    <picture>
      <source srcset="/images/WhatWouldSomeoneLikeMeDoWithATinyModularSynth_book_200px.webp" type="image/webp">
      <img src="/images/WhatWouldSomeoneLikeMeDoWithATinyModularSynth_book_200px.jpg" alt="Book Cover" width="50">
    </picture>
    <div class="book-text">
      <span>New zine: What Would Someone Like Me Do with a Tiny Modular Synth?</span>
    </div>
  </a>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    let floatingBook = document.querySelector(".floating-book");

    window.addEventListener("scroll", function () {
        if (window.scrollY > 100) { // Adjust 100px as needed
            floatingBook.style.opacity = "0";
            floatingBook.style.pointerEvents = "none"; // Prevent interaction
        } else {
            floatingBook.style.opacity = "1";
            floatingBook.style.pointerEvents = "auto";
        }
    });
});
</script>

<div class="home">
<a href="/workshopsystem">
  <picture>
    <source srcset="images/900_workshopsystem-side_full.webp" type="image/webp">
    <img src="images/900_workshopsystem-side_full.jpg" 
         alt="Music Thing Workshop System Side View" 
         width="900" height="622" 
         loading="lazy" 
         style="width: 100%; height: auto;">
  </picture>
</a>

<br></br>	<p>
		<homepage_mid_highlight>
			{{- site.description | escape -}}
		</homepage_mid>
	</p>

	{%- include module_list.html -%} <br> 
	{%- include expander_list.html -%} <br> 
	{%- include retired_list.html -%} <br> 
	{%- include writing_list.html -%} <br> 

	
</div>
