<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
      
    {% if page.wide-image == "true" %}
    {% else %}
    <div class="img-normal" aria-label="Image of {{page.module-name}} by Music Thing Modular" style="background-image: url({{page.image | relative_url }});">    </div>
    {% endif %}

    

      
    
      <h1>{{page.pars.size}} things to know about {{page.module-name}}</h1><p></p>

    {% if page.wide-image == "true" %}

   <br> <img style="width: 100%" alt="Image of {{page.module-name}} by Music Thing Modular" src={{page.image | relative_url }}>  <br>  <br>

    {% else %}
    {% endif %}


      
      <p>
      
      {% if page.size %}
      {{page.size}} | 
      {% endif %}
      
      {% if page.depth %}
      {{page.depth}} deep | 
      {% endif %}
    
      {% if page.supply %}
      {{page.supply}}
            {% endif %}

{% if page.designed %}
<br>Designed {{page.designed}}
{% if page.designed and page.updated %}
Updated {{page.updated}}
{% endif %}
<br>
{% endif %}




{% if page.mgrid %}
<br> <a href="{{page.mgrid}}">Modular Grid</a> |
{% endif %}
{% if page.yt %}
<a href="#videos">Videos</a>
{% endif %}

{% unless page.hide-design %}


{% if page.github %}
<br><a href="{{page.github}}">Github</a> |
{% else %}
<br><a href="mailto:tom@musicthing.co.uk?subject=Please send me {{page.module-name}} Design Files">Request Design Files</a> |
{% endif %}



{% if page.schematic %}
<a href="{{page.schematic | relative_url }}">Schematic</a> 
{% else %}
<a href="mailto:tom@musicthing.co.uk?subject=Please send me a {{page.module-name}} Schematic">Request Schematic</a> 
{% endif %}

{% endunless %}
      
{% if page.thonk-url %}
<br><br><a href="{{page.thonk-url}}" class="buy-btn">
{% if page.thonk-button %}
{{page.thonk-button}}
{% else %}
Available from Thonk
{% endif %}
</a>
{% endif %}
      

{% if page.manual-url %}
<br><br><a href="{{page.manual-url}}" class="buy-btn">
{% if page.manual-text %}
{{page.manual-text}}
{% else %}
Download Manual
{% endif %}
</a>
{% endif %}
      



<ol>
{% for pars in page.pars %} 
<li>{{pars}}</li>
{% endfor %} 
   </ol>     
        {{ content }}
        
      
      
      <a id="videos"> </a>
      {% for youtubes in page.yt %}  
      <br>{{youtubes.title}}</br>
<P>    <iframe class="iframe" src="https://www.youtube.com/embed/{{youtubes.link}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>
       {% endfor %}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
