<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
      
    {% if page.wide-image == "true" %}
    {% else %}
    <div class="img-normal" style="background-image: url({{page.image}});">    </div>
    {% endif %}

    

      
    
      <h1>{{page.pars.size}} things to know about {{page.module-name}}</h1><p></p>

    {% if page.wide-image == "true" %}
   <br> <div class="img-wide" style="background-image: url({{page.image}});">  <br>  </div><br>
    {% else %}
    {% endif %}


      
      <p>
      {{page.size}} | 
      {{page.depth}} deep | 
      {{page.supply}}
 <br>

{% if page.designed %}
<br>Designed {{page.designed}}
{% endif %}
{% if page.designed and page.updated %}
Updated {{page.updated}}
{% endif %}


<br> 
 {% if page.mgrid %}
<a href="{{page.mgrid}}">Modular Grid</a> |
{% endif %}
{% if page.github %}
<a href="{{page.github}}">Github</a> |
{% else %}
<a href="mailto:tom@musicthing.co.uk?subject=Please send me {{page.module-name}} Design Files">Request Design Files</a> |
{% endif %}
{% if page.schematic %}
<a href="{{page.schematic}}">Schematic</a> |
{% else %}
<a href="mailto:tom@musicthing.co.uk?subject=Please send me a {{page.module-name}} Schematic">Request Schematic</a> |
{% endif %}
{% if page.yt %}
      <a href="#videos">Videos</a>
      {% endif %}
      
       {% if page.thonk-url %}
       <br><br><a href="{{page.thonk-url}}" class="buy-btn">Available from Thonk</a>
         {% endif %}
      

<ol>
{% for pars in page.pars %} 
<li>{{pars}}</li>
{% endfor %} 
   </ol>     
        {{ content }}
        
      
      
      <a id="videos"> </a>
      {% for youtubes in page.yt %}  
      <br>{{youtubes.title}}</br>
<P>    <iframe class="iframe" src="https://www.youtube.com/embed/{{youtubes.link}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>
       {% endfor %}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
